@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* react toastify css */
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: white;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fafaf8e6;
  height: 100vh;
}

/* navbar css */
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(14, 13, 13, 0.7);
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 200px;
}

.nav-login-cart button {
  width: 157px;
  height: 55px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.dropbtn {
  height: 57px;
  width: 60px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  color: rgb(11, 11, 11);
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0b0808;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(237, 234, 234);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b0a3a38e
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .nav-profile img {
  height: 50px;
  position: relative;
  top: 4px;
} */


@media(max-width:1280px) {
  .navbar {
    padding: 12px 50px;
  }

  .nav-logo {
    width: 180px;
  }

  .nav-login-cart button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }
}

@media(max-width:1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 14px;
  }

  .nav-login-cart button {
    width: 90px;
    height: 45px;
    font-size: 17px;
  }
}

@media (max-width:500px) {
  .navbar {
    padding: 8px 0px;
    gap: 0;
  }

  .nav-logo {
    transform: scale(0.8);
  }
}

@media (max-width:800px) {
  .navbar {
    padding: 15px 30px;
  }

  .nav-logo {
    width: 150px;
  }

  .button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .nav-profile {
    width: 60px;
  }
}


/* admin css */
.admin {
  display: flex;
}

@media (max-width:800px) {
  .admin {
    flex-direction: column;
  }
}

/* sidebar css */
.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-top: 30px;
  gap: 20px;
  width: 100%;
  max-width: 250px;
  height: 105vh;
  background: #efeeee;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  padding: 8px 10px;
  background: #f6f6f6;
  border-radius: 6px;
  gap: 20px;
  cursor: pointer;
}

@media (max-width:800px) {
  .sidebar {
    padding: 30px 0px;
    flex-direction: row;
    width: 100%;
    max-width: none;
    height: auto;
    justify-content: center;
  }

  .sidebar-item {
    margin: 0;
  }
}

/* Addproduct css */
.add-product {
  box-sizing: border-box;
  width: 100%;
  /* max-width: 800px; */
  padding: 30px 50px;
  margin: 20px 30px;
  background: white;
  border-radius: 6px;
}

.addproduct-itemfield {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}

p {
  padding: 12px 0;
}

.addproduct-itemfield input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: "Poppins";
  font-size: 14px;
}

.addproduct-price {
  display: flex;
  gap: 14px;
}

.add-product-selector {
  padding: 10px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: #7b7b7b;
  border: 1px solid #7b7b7b8d;
  border-radius: 4px;
}

.addproduct-thumnali-img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px 0px;
}

.addproduct-btn {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: #6079ff;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width:800px) {
  .add-product {
    width: auto;
    padding: 30px;
    margin: 20px;
  }
}

/* list product css */
.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 740px;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: white;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #454545;
}

.listproduct-format-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.listproduct-format {
  align-items: center;
  font-weight: 500;
}

.listproduct-product-icon {
  height: 80px;
}

.listproduct-remove-icon {
  cursor: pointer;
  margin: auto;
}

.listproduct-allproducts {
  overflow-y: auto;
}

@media (max-width:800px) {
  .list-product {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 10px 30px;
    margin: 20px auto;
  }

  .listproduct-format-main {
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;
  }

  .listproduct-product-icon {
    height: 60px;
  }
}